<!DOCTYPE html>
<html lang="en" >
<head>
<title>Відновлення паролю</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />

<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "10800";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">

        </div>
        
        
    </div>
    <!-- END Header -->
    


    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Відновлення паролю</h1>
        

<p>Якщо ви забули ваш пароль, будь-ласка, введіть в полі нижче адресу електроної пошти, яку  вказали при реєстрації, і туди буде відправлений лист з посиланням для відновлення паролю!</p>

<form action="" method="post">
{% csrf_token %}


<p><label for="id_email">Адреса електроної пошти:</label> <input id="id_email" maxlength="254" name="email" type="email" /> <input type="submit" value="Відновити пароль" /></p>
</form>


        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
