<!DOCTYPE html>
<html lang="en" >
<head>
<title>Password change</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "10800";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        


        </div>
        
        
    </div>
    <!-- END Header -->
    


    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Password change</h1>
        <div id="content-main">

<form action="" method="post">
{% csrf_token %}
<div>



<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

<fieldset class="module aligned wide">

<div class="form-row">
    
    <label for="id_old_password" class="required">Old password:</label><input id="id_old_password" name="old_password" type="password" />
</div>

<div class="form-row">
    
    <label for="id_new_password1" class="required">New password:</label><input id="id_new_password1" name="new_password1" type="password" />
</div>

<div class="form-row">

    <label for="id_new_password2" class="required">Password (again):</label><input id="id_new_password2" name="new_password2" type="password" />
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="Change my password" class="default" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>


        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
