<!DOCTYPE html>
<html lang="en" >
<head>
<title>Enter new password</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />

<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "10800";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
    
        </div>
        
        
    </div>
    <!-- END Header -->
    


    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Введіть новий пароль</h1>
        



<p>Будь-ласка, придумайте і двічі введіть новий пароль!</p>

<form action="" method="post"><input type='hidden' name='csrfmiddlewaretoken' value='XG7ioHsJ4gh1qWhG4m9EnqgQ2Q27LMA5' />

<p class="aligned wide"><label for="id_new_password1">Новий пароль:</label><input id="id_new_password1" name="new_password1" type="password" /></p>

<p class="aligned wide"><label for="id_new_password2">Повторіть пароль:</label><input id="id_new_password2" name="new_password2" type="password" /></p>
<p><input type="submit" value="Змінити мій пароль" /></p>
</form>




        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
