<!DOCTYPE html>
<html lang="en" >
<head>
<title>Password reset successful</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />

<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "10800";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">

        </div>
        
        
    </div>
    <!-- END Header -->
    
    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Успішна відправка</h1>
        

<p>Лист відправлено! Перегляньте пошту.</p>

<p>Якщо ви неотримали лист, переконайтеся, що ви вказали правильну адрусу!</p>


        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
